<div class="send_invite">
  <section>
    <%= form_for :invite, url: invite_index_path do |f| %>
      <div>
        <%= f.label :github_handle %>
        <%= f.email_field :github_handle, class: "block col-12 field" %>
      </div>
      <%= f.submit 'Send Invite', class: "mt2 btn btn-primary mb1 bg-teal" %>
    <% end %>
  </section>
</div>
